:root
  --primary-color: #000
  --primary-color-oppo: #fff
  
body
  padding: 20px

.card
  border-radius: 14px
  background-color: #F4F4F5
  margin-bottom: 20px

.menu
  background-color: var(--primary-color)
  color: var(--primary-color-oppo)