@tailwind base
@tailwind components
@tailwind utilities

@layer base
  :root
    --primary-color: #000
    --primary-color-oppo: #fff
  body
    @apply py-5 px-5 md:px-8
  .card
    background-color: #F4F4F5
    border-radius: 14px
  .menu
    background-color: var(--primary-color)
    color: var(--primary-color-oppo)
  .prose
    img
      @apply mx-auto
  .catalog
    .title
      border-bottom: 1px solid #ccc
      @apply py-2 text-base font-bold
    .line
      @apply block my-3 text-sm text-gray-600 hover:text-black hover:font-bold
    .level-0
      @apply pl-0
    .level-1
      @apply pl-2
    .level-2
      @apply pl-4
    .level-3
      @apply pl-6

html
  scroll-behavior: smooth

*::-webkit-scrollbar
  width: 2px
  height: 2px

*::-webkit-scrollbar-thumb
  color: #000
  border-radius: 0

*::-webkit-scrollbar-track
  display: none

#vcomments>.vpower
  display: none
